/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  border: border-box;
}

/*Couleurs*/
/*Taille*/
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 599px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 500;
  font-size: 24px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  position: relative;
}
.header__logo {
  width: 161px;
  height: 27px;
  display: flex;
  justify-content: center;
}
.header__logo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header__arrow {
  position: absolute;
  position: absolute;
  left: 5%;
  width: 18px;
  height: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  width: 100%;
  padding: 0 20px;
}
.footer__logo {
  width: 100px;
  height: 16px;
  margin: 26px 0 23px;
  font-size: 20px;
  color: #fff;
}

.footer-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}
.footer-list__li {
  font-size: 17px;
  color: #fff;
  margin-bottom: 13px;
}
.footer-list__li a {
  display: flex;
  position: relative;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer-list__li i {
  padding-right: 5px;
  position: absolute;
}
.footer-list__li i :nth-child(3) {
  transform: rotate(130deg);
  left: -6px;
}
.footer-list__li p {
  margin-left: 25px;
}

.btn {
  width: 218px;
  height: 50px;
  background-color: #9356DC;
  border-radius: 23px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px #353535;
  font-weight: 500;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 251px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 5px 5px 5px #353535;
}
.cards__img {
  width: 100%;
  height: 173px;
  border-radius: 20px 20px 0 0;
}
.cards__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cards__txt {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 20px 11px;
}
.cards__txt p {
  margin-top: 10px;
}
.cards__txt .hearts {
  font-size: 20px;
  color: transparent;
  border: 1px solid #000;
}
.cards__txt .hearts:nth-child(1) {
  display: block;
}
.cards__txt .hearts:nth-child(2) {
  display: none;
}
.cards__txt .hearts:hover {
  color: #9356DC;
  border: none;
  cursor: pointer;
}
.cards__txt .hearts:hover :nth-child(1) {
  display: none;
}
.cards__txt .hearts:hover :nth-child(2) {
  display: block;
}

.ftnt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 268px;
  margin-bottom: 69px;
}
.ftnt__bloc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 87%;
  height: 74px;
  background-color: #F6F6F6;
  border-radius: 25px;
  position: relative;
  margin-left: 11px;
  padding-left: 32px;
}
.ftnt__bloc .number {
  width: 23px;
  height: 23px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -11px;
  border-radius: 50%;
  color: #fff;
}
.ftnt__bloc p:nth-child(2) {
  margin-right: 20px;
  color: #F6F6F6;
}
.ftnt__bloc p {
  font-size: 16px;
  font-weight: 500;
}

.cards__news {
  width: 80px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: darken #99E2D0, 20%;
  position: absolute;
  right: 10px;
  top: 12px;
  border-radius: 5px;
  font-size: 14px;
}

.resa {
  background-color: #F6F6F6;
  padding-bottom: 56px;
}
.resa__loc {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 10px -7px #353535;
}
.resa__loc i {
  padding-right: 5px;
}
.resa__txt {
  padding: 0 20px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resa__txt h1 {
  text-align: center;
  width: 62, 20%;
}
.resa__txt p {
  font-size: 18px;
  width: 304px;
  text-align: center;
  margin: 20px 0;
  font-weight: lighter;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}
.fonctionnement__title {
  margin: 53px 0;
}

.cartes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 64px;
  background-color: #F6F6F6;
  padding: 0 20px;
}
.cartes__title {
  margin-bottom: 28px;
}

/*# sourceMappingURL=style.css.map */
