/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/*Couleurs*/
/*Taille*/
/*ombre*/
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.container__menu {
  position: relative;
  top: -32px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  padding: 0 20px;
  padding-top: 28px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container__menu {
    height: max-content;
  }
}
.container--gris {
  background-color: #F6F6F6;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  font-family: "Shrikhand", cursive;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    height: 90px;
  }
}
.header__load {
  position: absolute;
  top: 50%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__load:hover > .load {
  transform: rotate(100turn);
  opacity: 1;
}
.header__load:active > .arrow {
  transform: translate(-2px) scale(1.05);
}
.header .load {
  position: absolute;
  left: -16px;
  color: #99E2D0;
  font-size: 32px;
  z-index: 2;
  opacity: 0;
  transform-origin: center center;
  transform: rotate(0);
  transition: transform 2000ms ease-in-out, opacity 300ms ease-in-out;
}
.header .arrow {
  position: absolute;
  font-size: 20px;
  transform: translate(0) scale(1);
  transition: transform 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
  cursor: pointer;
}
.header .arrow:active {
  transform: translate(-10px) scale(1.12);
}
.header__logo {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 34px;
  }
}
@media screen and (min-width: 992px) {
  .header__logo {
    font-size: 40px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    align-items: center;
  }
}
.footer__logo {
  height: 16px;
  margin: 26px 0 23px;
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-weight: lighter;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    font-size: 30px;
    margin: 26px 0 40px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}
@media screen and (min-width: 768px) {
  .footer-list {
    align-items: center;
  }
}
.footer-list__li {
  font-size: 17px;
  color: #fff;
  margin-bottom: 13px;
}
.footer-list__li a {
  display: flex;
  position: relative;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: color 200ms;
  transform-origin: left;
}
.footer-list__li a:hover:not(i) {
  color: #9356DC;
}
.footer-list__li i {
  padding-right: 5px;
  position: absolute;
}
.footer-list__li i.fa-handshake-simple {
  display: inline-block;
  transform: rotate(-45deg);
}
.footer-list__li i + p {
  margin-left: 25px;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 115vh;
  border-radius: 0 0 100px 100px;
  background-color: #9356dc;
  opacity: 0;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: top;
  transform: scale(1, 0);
  animation: open 3000ms;
}
@media screen and (min-width: 768px) {
  .loader {
    height: 125vh;
    border-radius: 0 0 150px 150px;
  }
}
@media screen and (min-width: 992px) {
  .loader {
    height: 125vh;
    border-radius: 0 0 150px 150px;
  }
}
.loader__spinner {
  width: 100px;
  height: 100px;
  margin-bottom: 15vh;
  color: #99E2D0;
  opacity: 0;
  font-size: 100px;
  transform-origin: center center;
  animation: spin 2000ms 500ms cubic-bezier(0.9, 0, 0.1, 1);
  animation-fill-mode: forwards;
}
@media screen and (min-width: 768px) {
  .loader__spinner {
    margin-bottom: 25vh;
  }
}

@keyframes open {
  0% {
    opacity: 0.2;
    transform: scaleY(1);
  }
  15% {
    opacity: 0.8;
  }
  85% {
    opacity: 0.8;
    transform: scaleY(1);
  }
  99% {
    transform: scaleY(0.2);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}
@keyframes spin {
  0% {
    opacity: 0;
    transform: rotate(0);
  }
  10% {
    opacity: 0.4;
    transform: rotate(2turn);
  }
  20% {
    opacity: 1;
    transform: rotate(15turn);
  }
  45% {
    transform: rotate(40turn);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  75% {
    opacity: 1;
    transform: rotate(60turn);
    animation-timing-function: cubic-bezier(0.7, 0.3, 0.56, 1);
  }
  90% {
    opacity: 0.7;
    transform: rotate(95turn);
  }
  100% {
    opacity: 0;
    transform: rotate(100turn);
  }
}
.btn {
  width: 218px;
  height: 50px;
  position: relative;
  z-index: 1;
  background: linear-gradient(to top left, #9356DC, #FF79DA 270%);
  border-radius: 23px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 50px rgba(0, 0, 0, 0.25), 0 3px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  font-weight: 500;
  transition: all 200ms ease-out;
}
.btn:hover::after {
  opacity: 1;
}
.btn:hover::before {
  opacity: 0.1;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  width: 218px;
  height: 50px;
  border-radius: 23px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 14px 50px rgba(0, 0, 0, 0.35), 0 3px 10px rgba(0, 0, 0, 0.32);
  border-radius: 23px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 251px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 14px 50px rgba(0, 0, 0, 0.25), 0 3px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .cards {
    width: 49%;
  }
}
.cards__img {
  width: 100%;
  height: 173px;
  border-radius: 20px 20px 0 0;
}
.cards__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cards__txt {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 20px 11px;
}
.cards__txt p {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
}
.cards__txt h2 {
  font-size: 16px;
}

.cards-bloc {
  margin-top: 15px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  animation: up 1500ms both;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 33%;
  }
}
@media screen and (min-width: 992px) {
  .menu {
    width: 32%;
  }
}
.menu__title {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.menu__title::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #99E2D0;
  left: 0;
  top: 21px;
  transform-origin: left;
  animation: right 1000ms backwards;
  animation-delay: 5s;
}
.menu__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 80px;
  background-color: #fff;
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 11px;
  box-shadow: 0 14px 50px rgba(0, 0, 0, 0.25), 0 3px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  animation: apparition 1500ms backwards;
}
@media screen and (min-width: 768px) {
  .menu__cards {
    width: 100%;
  }
}
.menu__cards:hover .card-check__check {
  transform: scaleX(1);
  width: 58px;
}
.menu__cards:hover .card-check__check i {
  transform: rotate(0deg);
}

.menu--1 {
  animation-delay: 800ms;
}

.menu--2 {
  animation-delay: 1600ms;
}

.menu--3 {
  animation-delay: 2400ms;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
.menu__cards--1 {
  animation-delay: 400ms;
}

.menu__cards--2 {
  animation-delay: 800ms;
}

.menu__cards--3 {
  animation-delay: 1200ms;
}

.menu__cards--4 {
  animation-delay: 1600ms;
}

.menu__cards--5 {
  animation-delay: 2000ms;
}

.menu__cards--6 {
  animation-delay: 2400ms;
}

.menu__cards--7 {
  animation-delay: 2800ms;
}

.menu__cards--8 {
  animation-delay: 3200ms;
}

.menu__cards--9 {
  animation-delay: 3600ms;
}

.menu__cards--10 {
  animation-delay: 4000ms;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(999px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes right {
  0% {
    opacity: 0;
    transform: scale(0, 1);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
.card-check {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.card-check__price {
  margin-bottom: 20px;
  margin-right: 11px;
  font-weight: 500;
  font-size: 13px;
}
.card-check__check {
  cursor: pointer;
  height: 100%;
  width: 0px;
  background-color: #99E2D0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  transform: scale(0, 1);
  transition: transform 600ms cubic-bezier(0.56, 0.41, 0.5, 1), width 600ms;
}
.card-check__check i {
  font-size: 1.5rem;
  transform: rotate(-180deg);
  transition: transform 400ms cubic-bezier(0.56, 0.41, 0.5, 1) 200ms;
}

.card-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .card-txt {
    white-space: inherit;
  }
}
@media screen and (min-width: 992px) {
  .card-txt {
    white-space: nowrap;
  }
}
.card-txt__title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 992px) {
  .card-txt__title {
    font-size: 14px;
  }
}
.card-txt__p {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: lighter;
}
@media screen and (min-width: 992px) {
  .card-txt__p {
    font-size: 13px;
  }
}

.ftnt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 268px;
  margin: 0 5% 69px 0;
}
@media screen and (min-width: 768px) {
  .ftnt {
    height: 305px;
    margin-right: inherit;
  }
}
.ftnt__bloc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: 74px;
  background-color: #F6F6F6;
  border-radius: 25px;
  position: relative;
  margin-left: 11px;
  padding-left: 32px;
  padding-right: 20px;
  box-shadow: 0 14px 50px rgba(0, 0, 0, 0.25), 0 3px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.ftnt__bloc::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 25px;
  background-color: #f5edff;
  opacity: 0;
  transition: opacity 300ms;
}
@media screen and (min-width: 768px) {
  .ftnt__bloc {
    width: 350px;
    height: 85px;
  }
}
.ftnt__bloc:hover::after {
  opacity: 1;
}
.ftnt__bloc:hover p:nth-child(2) i:nth-child(2) {
  opacity: 1;
}
.ftnt__bloc p:nth-child(2) {
  margin-right: 20px;
  position: relative;
  z-index: 1;
  color: #353535;
}
.ftnt__bloc p:nth-child(2) i:nth-child(2) {
  position: absolute;
  left: 0;
  color: #9356DC;
  z-index: 2;
  opacity: 0;
  transition: opacity 300ms;
}
.ftnt__bloc .number {
  width: 26px;
  height: 26px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -11px;
  border-radius: 50%;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .ftnt__bloc .number {
    width: 30px;
    height: 30px;
  }
}
.ftnt__bloc p {
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .ftnt__bloc p {
    font-size: 20px;
  }
}

.cards__news {
  width: 80px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 12px;
  border-radius: 5px;
  font-size: 14px;
}

.hearts {
  position: relative;
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.hearts p:nth-child(1) {
  position: absolute;
  opacity: 1;
  transition: opacity 400ms;
  z-index: 1;
  font-size: 25px;
}
.hearts p:nth-child(2) {
  position: absolute;
  display: block;
  background: linear-gradient(to bottom left, transparent 0%, #9356DC 5%, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  transform-origin: bottom;
  background-position-y: 100%;
  background-size: 100% 200%;
  background-origin: 0px;
  opacity: 0;
  transform: scale(1, 0);
  transition: scale 400ms, opacity 400ms ease-in-out;
  z-index: 0;
  font-size: 25px;
}
.hearts:hover > p:nth-child(2) {
  opacity: 1;
  transform: scaleY(1);
}
.hearts:hover > p:nth-child(1) {
  opacity: 0;
}

.resa {
  background-color: #F6F6F6;
  padding-bottom: 56px;
}
.resa__loc {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 10px -7px #353535;
  color: #353535;
}
.resa__loc i {
  padding-right: 5px;
}
.resa__loc input {
  border: none;
  background-color: #EAEAEA;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  margin: auto 10px;
}
.resa__loc input:focus {
  outline: none;
  background-color: #EAEAEA;
}
.resa__txt {
  padding: 0 20px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resa__txt h2 {
  text-align: center;
  width: 82%;
  font-size: 24px;
}
.resa__txt p {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  font-weight: lighter;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    align-items: center;
  }
}
.fonctionnement__title {
  margin: 53px 0;
  font-size: 24px;
}

.cartes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 64px;
  background-color: #F6F6F6;
  padding: 0 20px 64px;
}
@media screen and (min-width: 768px) {
  .cartes {
    align-items: center;
  }
}
.cartes__title {
  margin: 56px 0 28px;
  font-size: 24px;
}
.cartes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-presentation {
  position: relative;
}
.img-presentation__img {
  width: 100%;
  height: 258px;
}
@media screen and (min-width: 768px) {
  .img-presentation__img {
    height: 300px;
  }
}
@media screen and (min-width: 992px) {
  .img-presentation__img {
    height: 350px;
  }
}
.img-presentation__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin-bottom: 37px;
}
@media screen and (min-width: 768px) {
  .bloc {
    max-width: 80%;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .menu-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .menu-container {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
