/*Couleurs*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-fond: #F6F6F6;
$color-localisation: #EAEAEA;
$color-txt-light: #353535;
$color-white: #fff;
$color-black: #000;
$color-txt-news: #008766;

/*Taille*/
$padding-global: 0 20px;
$header-height: 63px, 80px, 90px;
$header-logo: 30px, 34px, 40px;
$footer-logo: 20px, 30px;
$footer-logo-padding:(
    mobile: 26px 0 23px,
    tab: 26px 0 40px,
);