.header {
    display: flex;    
    justify-content: center;
    align-items: center;
    height: $header-height;
    position: relative;

    &__logo {
        width: 161px;
        height: 27px;
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-family: 'Shrikhand', cursive;
          
    }
    &__arrow{        
        position: absolute ;
        position: absolute;
        left: 5%;
        width: 18px;
        height: 16px;
    }
}