.header {
    display: flex;    
    justify-content: center;
    align-items: center;
    height: nth($header-height,1);
    position: relative;
    @include tablette {
        height: nth($header-height,2);
    }
    @include desktop{
        height: nth($header-height,3);
    }

    &__logo {
        display: flex;
        justify-content: center;
        font-size: nth($header-logo,1);;
        font-family: 'Shrikhand', cursive;
        @include tablette {
            font-size: nth($header-logo,2);
        }
        @include desktop{
            font-size: nth($header-logo,3);
        }
          
    }
    &__arrow{        
        position: absolute ;
        position: absolute;
        left: 5%;
        width: 18px;
        height: 16px;
        &:hover{
            cursor: pointer;
        }
    }
}