.btn {
    width: 218px;
    height: 50px;
    background: linear-gradient(to top left, $color-primary, $color-secondary);
    border-radius: 23px;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
    font-weight: 500;
    cursor: pointer;
}