.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 251px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: $shadow;
    margin-bottom: 17px;
    @include tablette {
        width: 49%;
    }
    &__img {
        width: 100%;
        height: 173px;
        border-radius: 20px 20px 0 0;
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__txt{
        display: flex;
        justify-content: space-between;
        padding: 0 24px 20px 11px;
        & p {
            margin-top: 10px;
            font-weight: lighter;
            font-size: 14px;
        }

        & h2{
            font-size: 16px;
        }
    }
}

.cards-bloc{
    margin-top: 15px;
}