.hearts {
    font-size: 25px;
    color: $color-black; 
    position: relative; 
    & p {
        position: absolute;
        right: 5px;
        top: -10px;
        &:nth-child(1){
            z-index: 1;
            display: none;
            
        }
        
    } 
    &:hover p:nth-child(1){        
        cursor: pointer;
        display: block;
        background-image: linear-gradient(to bottom left, $color-primary, $color-secondary); //création d'un background color dans tout le bloc p                
        color: transparent;  // mise en transparence du texte
        background-clip: text; // création d'un masque d'écrétage, la couleur remplacera le texte transparent     
    }
    &:hover p:nth-child(2){
        display: none;                   
    }
}