.hearts {
    font-size: 25px;
    position: relative; 
    cursor: pointer;

    & p:nth-child(1){
        position: absolute;
        opacity: 1;
        transition: opacity 400ms;
        z-index: 1;

    }

    & p:nth-child(2) {
        position: absolute; 
        display: block;
        background: linear-gradient(to bottom left, transparent 0%, $color-primary 5%, $color-secondary); //création d'un background color dans tout le bloc p                
        color: transparent;  // mise en transparence du texte
        -webkit-background-clip: text; // création d'un masque d'écrétage, la couleur remplacera le texte transparent    
        transform-origin: bottom;
        background-position-y: 100%; 
        background-size: 100% 200%;
        background-origin:  0px;
        opacity: 0;
        transform: scale(1, 0);
        transition: scale 400ms, opacity 400ms ease-in-out;
        z-index: 0;
        
    } 
    &:hover{
        & > p:nth-child(2){        
            opacity: 1;
            transform: scaleY(1);         
        }
        & > p:nth-child(1){        
            opacity: 0;         
        }
    }  
}