.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    animation: up 1500ms both;
    @include tablette{
        width: 33%;
        // justify-content: space-between;
    }
    @include desktop{
        width: 32%;
    }

    &__title {
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 20px;
        &::after{
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: $color-tertiary;
            left: 0;
            top: 21px;
            transform-origin: left; // Transform de l'origine de ::after de 0 sur l'axe des abscisses X sur sa gauche
            animation: right 1000ms backwards; //Animation du soulignage des titres "Entrée" "Plat" "Dessert" via @keyframes rigth
            animation-delay: 5s;
        }
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 80px;
        background-color: $color-white;
        border-radius: 15px;
        padding-left: 10px;
        margin-bottom: 11px;
        box-shadow: $shadow;
        overflow: hidden;
        cursor: pointer;
        opacity: 1;
        animation: apparition 1500ms backwards; // Animation des cartes du menu grâce au @keyframes 'apparition'
        @include tablette{
            width: 100%;
        }
        
        &:hover .card-check__check{ //Animation au survol du bloc check 
            transform: scaleX(1); // Aggrandissement du bloc vers la gauche
            width: 58px;
            & i{
                transform: rotate(0deg); // Rotation de 180°
            }
        }        
    }
}
/******Boucles FOR******/ // Utilisation d'une boucle for pour gagner du temps sur l'écriture du code

@for $i from 1 to 4 { 
    .menu--#{$i}{ // Pour chaque modificateur ".menu-- + numéro d'indentation $i"
        animation-delay: 800ms * $i ; // ajout d'un delai d'apparition en le multipliant par son numéro d'indentation = apparition les uns à la suite des autres
    }    
}

@for $i from 1 to 11 {
    .menu__cards--#{$i}{// Pour chaque modificateur ".menu__card-- + numéro d'indentation $i"
        animation-delay: 400ms * $i ;  // ajout d'un delai d'apparition en le multipliant par son numéro d'indentation = apparition les uns à la suite des autres
    }    
}

/******@KEYFRAMES*****/ // Elles permettent de créer des animations fluides qui peuvent changer de rythmes selon son %

@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(80px);
    }

    75%{
        opacity: 1;
    }

    100%{
        
        transform: translateY(0);
    }
}

@keyframes apparition{
    0%{
        opacity: 0;
        transform: translateY(80px);
    }

    75%{
        opacity: 0;
    }

    100%{
        
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes right{
    0%{
        opacity: 0;
        transform: scale(0,1);
    }

    75%{
        opacity: 1;
    }

    100%{
        
        transform: scale(1,1);
    }
}

.card-check{
    display: flex;
    align-items: flex-end;
    height: 100%;
    &__price{
        margin-bottom: 20px;
        margin-right: 11px;
        font-weight: 500;
        font-size: 13px;
    }
    &__check{        
        cursor: pointer;
        height: 100%;
        width: 0px;
        background-color: $color-tertiary;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: right;
        transform: scale(0, 1); 
        transition: transform 600ms cubic-bezier(.56,.41,.5,1), width 600ms; //Animation du bloc check via une transition de transform et de width
        & i{
            font-size: 1.5rem;
            transform: rotate(-180deg); // Rotation à -180° de l'icône
            transition: transform 400ms cubic-bezier(.56,.41,.5,1) 200ms; //Animation de l'icone check grâce à une rotation via transform
        }      
    }
}

.card-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    padding: 20px 0;
    @include tablette{
        white-space: inherit;
    }
    @include desktop{
        white-space: nowrap;
    }
    &__title{
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include desktop{
            font-size: 14px;
        }
    }
    &__p{
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
        font-weight: lighter;
        @include desktop {
            font-size: 13px;
        }
    }
}

