.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    @include tablette{
        width: 48%;
    }
    @include desktop{
        width: 32%;
    }
    &__title {
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 20px;
        &::after{
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: $color-tertiary;
            left: 0;
            top: 21px;
        }
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 300px;
        height: 80px;
        background-color: $color-white;
        border-radius: 15px;
        padding-left: 10px;
        margin-bottom: 11px;
        box-shadow: $shadow;
        @include tablette{
            width: 100%;
        }
        
        &:hover .card-check__check{
            display: block;
            cursor: pointer;
            width: 58px;
            height: 100%;
            background-color: $color-tertiary;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 14px 14px 0;
        }
        &:hover .card-check__price{
            margin-bottom: 20px;
        }
    }
}

.card-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    &__title{
        margin-bottom: 5px;
        font-size: 16px;
    }
    &__p{
        font-size: 15px;
    }
}

.card-check{
    display: flex;
    align-items: flex-end;
    height: 100%;
    &__price{
        margin-bottom: 20px;
        margin-right: 11px;
        font-weight: 500;
    }
    &__check{
        display: none;
        
    }
}